/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

img {
  max-width: 150px;
}
